name: "Size-Limit"

on:
  pull_request:
    branches:
      - main
jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Size Limit
        uses: andresz1/size-limit-action@v1
        with:
          build_script: build:ci
          directory: packages/react-dadata
          package_manager: pnpm
          github_token: ${{ secrets.GITHUB_TOKEN }}
